<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.microsoft.cordova.speechrecognition" version="0.0.1">
    <name>Project Oxford Speech Recognition</name>
    <description>A Cordova plugin provide speech recognition</description>
    <license>Apache 2.0</license>
    <keywords>cordova, speech recognition, project oxford, Microsoft</keywords>
    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>
    <js-module src="www/oxfordspeechrecognition.js" name="OxfordSpeechRecognition">
        <clobbers target="window.OxfordSpeechRecognition" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OxfordSpeechRecognition">
                <param name="android-package" value="com.microsoft.cordova.speechrecognition.OxfordSpeechRecognition" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>
        <source-file src="src/android/OxfordSpeechRecognition.java" target-dir="src/com/microsoft/cordova/speechrecognition" />
        <source-file src="src/android/libs/SpeechSDK.jar" target-dir="libs" />
        <source-file src="src/android/libs/armeabi/libandroid_platform.so" target-dir="libs/armeabi/" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OxfordSpeechRecognition">
                <param name="ios-package" value="OxfordSpeechRecognition" />
            </feature>
        </config-file>
        <source-file src="src/ios/OxfordSpeechRecognition.m" />
        <header-file src="src/ios/OxfordSpeechRecognition.h" />
        <framework src="src/ios/Frameworks/SpeechSDK.framework" custom="true" />
    </platform>

</plugin>
